[submodule "cairo_streams"]
	url = https://github.com/onlydustxyz/cairo-streams
	path = lib/cairo_streams
[submodule "cairo_contracts"]
	url = https://github.com/OpenZeppelin/cairo-contracts
	path = lib/cairo_contracts
